footer.footer.clearfix
    nav
        ul.nav-footer-item
            li
                a.category-footer(href='#') 關於Stylish
            li
                a.category-footer(href='#') 服務條款
            li
                a.category-footer(href='#') 隱私政策
            li
                a.category-footer(href='#') 聯絡我們
            li
                a.category-footer(href='#') FAQ
        ul.nav-footer-icon
            li
                div
                    span ©2019. All rights reserved.
            li
                a(href='#')
                    img.facebook-icon(src='/static/images/facebook.png', alt='facebook-icon')
            li
                a(href='#')
                    img.twitter-icon(src='/static/images/twitter.png', alt='twitter-icon')
            li
                a(href='#')
                    img.line-icon(src='/static/images/line.png', alt='line-icon')