header.nav.clearfix
    h1.website-title
        a(href='#') STYLiSH
    img.logo(src='/static/images/logo.png', alt='logo')
    nav
        ul.nav-category
            li
                a.category(href='/api/1.0/products/women') 女裝
            li
                a.category(href='/api/1.0/products/men') 男裝
            li
                a(href='/api/1.0/products/accessories') 配件
        ul.nav-icon
            li
                a(href='#')
                    img.member-icon(src='/static/images/member.png', alt='member-icon')
            li
                a(href='#')
                    img.cart-icon(src='/static/images/cart.png', alt='cart-icon')
            li
                .nav-search
                    input.search-input(type='text')
                    a(href='#')
                        img.search-icon(src='/static/images/search.png', alt='search-icon')