doctype html
html(lang="zh-TW")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title STYLiSH
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/static/css/normalize.css')
        link(rel='stylesheet', href='/static/css/style.css')
    body
        include includes/nav.pug
        block content
        include includes/footer.pug