extends layout.pug

block content
    section#content
    h2 product
    
    form(action="/api/1.0/admin/product",method="post",enctype="multipart/form-data")
        div
            label ID*
                input(type="text",name="productId")
        div
            label Title*
                input(type="text",name="title")
        div
            label Description
                div
                    textarea(name="description")
        div
            label Price*
                input(type="text",name="price")
        div
            label Texture
                input(type="text",name="texture")
        div
            label Wash
                input(type="text",name="wash")
        div
            label Place
                input(type="text",name="place")

        div
            label Note
                div
                    textarea(name="note")
        div
            label Story
                div
                    textarea(name="story")
        div
            label Color_codes*
                input(type="text",name="colorCodes")
                p ex: FFFFFF,FFDDDD,DDFFBB,DDF0FF,CCCCCC,BB7744,334455
        div
            label Color_names*
                input(type="text",name="colorNames")
                p ex: 白色,粉紅,亮綠,淺藍,淺灰,淺棕,深藍
        div
            label Sizes*
                input(type="text",name="sizes")
                p ex: S,M,L,XL,F
        div
            label Main_image*
                div
                    input(type="file", name="mainImage")
        div
            label Other images*
                div
                    input(type="file", name="images", multiple)
        p max total upload images is 50, do not use 中文 as your files name.

        button(type="submit") Submit