extends layout.pug

block content
    section#content
    h2 product
    
    form(action="/api/1.0/admin/product",method="post")
        div
            label ID
                input(type="text",name="productId")
        div
            label Title
                input(type="text",name="title")
        div
            label Description
                div
                    textarea(name="description")
        div
            label Price
                input(type="text",name="price")
        div
            label Texture
                input(type="text",name="texture")
        div
            label Wash
                input(type="text",name="wash")
        div
            label Place
                input(type="text",name="place")

        div
            label Note
                div
                    textarea(name="note")
        div
            label Story
                div
                    textarea(name="story")
        div
            label color_codes
                input(type="text",name="colorCodes")
        div
            label color_names
                input(type="text",name="colorNames")
        div
            label sizes
                input(type="text",name="sizes")

        button(type="submit") Submit
    
    form(action="/profile", method="post", enctype="multipart/form-data")
        input(type="file", name="test")
        button(type="submit") Submit
    form(action="/photos/upload", method="post", enctype="multipart/form-data")
        input(type="file", name="test2", multiple)
        button(type="submit") Submit
    form(action="/img-upload", method="post", enctype="multipart/form-data")
        input(type="file", name="test3")
        input(type="file", name="test4", multiple)
        button(type="submit") Submit