/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
  
}

body {
	font-family: 'PingFangTC-Regular', 'Microsoft JhengHei', Arial, sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: 20px;
}

h2,
h3,
a {
	color: #070707;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

img {
	max-width: 100%;
}

input,button,select,textarea{
	outline:none
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.website-title {
	display: none;
}
.logo {
	margin-top: 26px;
	margin-left: 60px;
	width: 258px;
	height: 48px;
	float: left;

}


.nav {
	background-color: #ffffff;
	width: 100%;
	height: 140px;
	top: 0;
	border-bottom: 40px solid #313538; 
	position: fixed;
	z-index: 1000;
}

.nav-category {
	float: left;
	margin-left: 96px;
	margin-top: 44px;
}

.nav-category li {
	float: left;
	text-align: justify;
	width: 100px;
	letter-spacing: 28px;
	margin-left: 11px;
}

.category {
	border-right: 1px solid black;
}


.nav-icon {
	float: right;
	margin-right: 54px;
	margin-top: 28px;
}

.nav-icon li {
	float: right;
}

.nav-icon img {
	width: 44px;
}

.member-icon,.cart-icon {
	margin-left: 42px;
}

.nav-search {
	width: 214px;
	height: 44px;
	border: solid 1px #979797;
	border-radius: 30px;
}

.search-input {
	border: none;
	width: 130px;
	margin-left: 20px;
	caret-color: #8B572A;		/* 改變輸入光標的顏色 */
}

.search-icon {
	vertical-align:middle;		/* 圖片水平置中 */
}

.nav-category a:hover {
	color: #8b572a;
}

.member-icon {
	width: 0px;
	height: 0px;
	padding: 22px;
	background: url('../images/member.png');
}

.member-icon:hover {
	background: url('../images/member-hover.png');
}

.cart-icon {
	width: 0px;
	height: 0px;
	padding: 22px;
	background: url('../images/cart.png');
}

.cart-icon:hover {
	background: url('../images/cart-hover.png');
}

.search-icon {
	width: 0px;
	height: 0px;
	padding: 22px;
	background: url('../images/search.png');
}

.search-icon:hover {
	background: url('../images/search-hover.png');
}


/* ---- Banner ---- */
#banner {
	margin-top: 140px;
	height: 500px;
	width: 100%;
	background-image: url('../images/keyvisuals/201807202140.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #8B572A;
	position: relative;
}

#banner div {
	position: absolute;
	left: 407px;
	top: 166px;
}

#banner div h2 {
	font-size: 30px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.9;
	/* color: white; */
}

#banner div h3 {
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	/* color: white; */
}



/* ---- Main-content ---- */
#main-content {
	margin-top: 70px;
}

.square {
	width: 24px;
	height: 24px;
	margin-right: 10px;	
}

.colorA {
	background-color: #9BAAC2;
}

.colorB {
	background-color: #D9D9D9;
}

.colorC {
	background-color: #8B572A;
}

.colorD {
	background-color: #000000;
}

.colorE {
	background-color: #C49871;
}

.colorF {
	background-color: #848484;
}

.colorG {
	background-color: #C0C0B5;
}

.FFFFFF {
	background-color: #FFFFFF;
	border: .25px solid #000000;
}

.FFDDDD {
	background-color: #FFDDDD;
}

.DDFFBB {
	background-color: #DDFFBB;
}

.CCCCCC {
	background-color: #CCCCCC;
}

.DDF0FF {
	background-color: #DDF0FF;
}

.BB7744 {
	background-color: #BB7744;
}

.334455 {
	background-color: #334455;
}






.colors-list {
	display: flex;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.row img {
	width: 360px;
	height: 480px;
}

.row .item {
	padding-left: 20px; 
	padding-right: 20px;
}

.row p {
	font-size: 20px;
	letter-spacing: 4px;
}

.two {
	margin-bottom: 96px;
}


/* ---- Footer ---- */
.footer {
	width: 100%;
	height: 115px;
	background: #313538;
}

.nav-footer-item {
	float: left;
	margin-left: 10%;
}

.nav-footer-item li {
	float: left;
	margin-top: 46px;
}

.nav-footer-item li a {
	color: #f5f5f5;
	font-size: 16px;
	text-align: justify;
	width: 100px;
	margin-left: 11px;
	padding-left: 33px;
	padding-right: 33px;
}

.nav-footer-icon {
	float: right;
}

.nav-footer-icon li {
	float: right;
	margin-left: 30px;

}

.nav-footer-icon img {
	width: 50px;
	height: 50px;
	margin-top: 33px;
}

.nav-footer-icon div {
	color: #828282;
	font-size: 12px;
	margin-top: 50px;
	margin-right: 100px;
}

.category-footer {
	border-right: 1px solid #f5f5f5;

}

/* ---- Fix all page that some content cover by nav ---- */
#content {
	margin-top: 140px;
}







/* .nav-item {
  float: left;
  margin-top: 1rem;
}

.nav-item li {
  float: left;
}

.website-title a,
.nav-item a {
	text-align: center;

}

.nav-item a {
	font-size: .95em;
	color: #fff;
	text-transform: uppercase;
  margin-left: .5rem;
  margin-right: .5rem;
}

.nav-item a:hover {
	color: #093a58;
}

.menu-icon {
  display: block;
  display: none;
}


.mobile-nav-item {
  display: none;
  background-color: aliceblue;
  height: 100%;
  width: 40%;
  position: fixed;
  top: 0;
  right: 0;
}
  
.mobile-nav-item div {
  position: fixed;
  top: 2%;
}

.mobile-nav-item li {
  padding: 10px 20px;
}

.cancel-icon {
  display: none;
  width: 20px;
  position: fixed;
  top: 2%;
  right: 2%;
    
} */



/* ---- Layout Containers ---- */
/* .main-content {
  max-width: 1200px;
  margin: 0 auto;
}

.second-content {
  max-width: 1200px;
  margin: 0 auto;
}


.banner {
	color: #fff;
	background: deepskyblue;
  height: 200px;
  margin-top: 70px;
  padding-top: 68px;
}

.headline {
  margin-top: 0;
  text-align: center;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
} */




/* ---- Page Elements ---- */
/* .section-title {
  text-align: center;
  margin-top: 5vh;
}

.content-box-1 {
  float: left;
}

.content-box-2 {
  float: right;
}

.content-box-3 {
  float: left;
}

.content-box-4 {
  float: right;
}

.col {
  width: 40%;
  background-color: skyblue;
  margin: 5%;
  padding: 5px;
  height: 700px;
  
}

.call-to-action {
  text-align: center;
}

.call-to-action a {
  background-color: coral;
  padding: 10px;
  color: #fff;
}

.second-content {
  display: none;
}

.main-footer span{
  padding: 10px;
  text-align: center;
} */


/* ---- clearfix ---- */
.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}




/* ================================= 
  Media Queries
==================================== */

@media (min-width:1200px) {

}

@media (min-width:800px) and (max-width:1199px) {
  
}

/* @media (min-width:500px) and (max-width:799px) {
  .menu-icon {
    display: block;
    width: 25px;
    float: right;
    margin: 20px;
  }

  .nav-item {
    display: none;
  }

  .main-content p {
    line-height: 1.2rem;  //avoid article too long
    
  }

  .second-content p {
    line-height: 1.2rem;  //avoid article too long
    
  }

  .col {
    height: 900px;  //avoid article too long
  }
}


@media (max-width:500px) {
  .menu-icon {
    display: block;
    width: 25px;
    float: right;
    margin: 20px;
  }

  .nav-item {
    display: none;
  }
  
  .col {
    width: 90%;
    //height: 600px;  //avoid article too long
  }

  .headline {
    font-size: 1.65rem;
    
  }

  .main-content p {
    line-height: 1.4rem;  //avoid article too long
    
  }

  .second-content p {
    line-height: 1.4rem;  //avoid article too long
    
  }
}
 */

